<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>销售公司后台管理系统</title>
		<!-- Bootstrap core CSS -->
		<link href="/asserts/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- Custom styles for this template -->
		<link href="/asserts/css/signin.css" rel="stylesheet" type="text/css"/>
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/user/register}" method="post" >
			<label>请联系管理员获取账号密码</label>
			<h1 class="h3 mb-3 font-weight-normal">登陆</h1>
			<label class="sr-only">用户名</label>
			<input type="text" class="form-control" name="username" placeholder="用户名"  required="" autofocus="">
			<label class="sr-only">密码</label>
			<input type="password" class="form-control" name="password" placeholder="密码"  required="">
			<label class="sr-only" style="color:red">注册令牌(请联系管理员获取)</label>
			<input type="password" class="form-control" name="token" placeholder="Token"  required="">
			<div class="checkbox mb-3">
				<a th:href="@{index.html}">返回登陆</a>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm">中文</a>
		</form>

	</body>

</html>